<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cndsteel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10"/>
    
    <!-- 单元测试配置之一 -->
    <instrumentation 
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.cndsteel"/>
    
    <!-- SDCard卡读取权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.cndsteel.framework.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        
         <!-- 单元测试配置之二 -->
        <uses-library android:name="android.test.runner"/>
        
        <activity android:name="com.cndsteel.main.activity.MainActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <!-- loading -->
        <activity android:name="com.cndsteel.main.activity.LoadingActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <!-- login -->
        <activity android:name="com.cndsteel.main.activity.LoginActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <!-- settings -->
        <activity android:name="com.cndsteel.settings.activity.SettingsActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <!-- 计划 -->
        <activity android:name="com.cndsteel.plan.activity.PlanQueryActivity" />
        <activity android:name="com.cndsteel.plan.activity.PlanQueryResultListActivity" />
        <activity android:name="com.cndsteel.plan.activity.PlanQueryResultDetailActivity" />
        
        
        <!-- contract(合同) -->
        <activity android:name="com.cndsteel.contract.activity.ContractQueryActivity" />
        <activity android:name="com.cndsteel.contract.activity.ContractQueryResultActivity" />
        <activity android:name="com.cndsteel.contract.activity.ContractDetailActivity" />
        
        
        <!-- 库存 -->
        <activity android:name="com.cndsteel.stock.activity.StockQueryActivity" />
        <activity android:name="com.cndsteel.stock.activity.StockAccordingStockQueryResultListActivity"/>      
        <activity android:name="com.cndsteel.stock.activity.StockAccordingContractQueryResultListActivity"/>
        <activity android:name="com.cndsteel.stock.activity.StockAccordingGoodsQueryResultListActivity" />
 		<activity android:name="com.cndsteel.stock.activity.StockAccordingStockQueryResultDetailActivity" />
 		<activity android:name="com.cndsteel.stock.activity.StockAccordingContractQueryResultDetailActivity"/>
 		<activity android:name="com.cndsteel.stock.activity.StockAccordingGoodsQueryResultDetailActivity"/>
 		<activity android:name="com.cndsteel.stock.activity.StockQueryResultDetailListActivity" />
 		
        <!-- 出仓 -->
        <activity android:name="com.cndsteel.shipment.activity.ShipmentActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.shipment.activity.ShipmentAsInvoiceNumQueryResultActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.shipment.activity.ShipmentAsContractNumQueryResultActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.shipment.activity.ShipmentDetailAsInvoice">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.shipment.activity.ShipmentDetailAsContract">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <!-- 往来 -->
        <activity android:name="com.cndsteel.payment.activity.PaymentQueryActivity"/>
        <activity android:name="com.cndsteel.payment.activity.PaymentAsInformationQueryResultListActivity"/>
        <activity android:name="com.cndsteel.payment.activity.PaymentAsInformetionQueryResultDetailActivity" />
        <activity android:name="com.cndsteel.payment.activity.PaymentAsContractQueryResultListActivity"/>
        <activity android:name="com.cndsteel.payment.activity.PaymentAsContractQueryResultDetailActivity"/>
        
        
        <!-- 提货意向 -->
        <activity android:name="com.cndsteel.shipmentIntent.activity.ShipmentIntentActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.shipmentIntent.activity.ShipmentIntentQueryResultActivity">
           <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.shipmentIntent.activity.ShipmentIntentBillDetailActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.shipmentIntent.activity.ShipmentIntentCommitActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.shipmentIntent.activity.ShipmentConfirmActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <!-- 票据 -->
        <activity android:name="com.cndsteel.bill.activity.BillQueryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cndsteel.bill.activity.BillContractInvoiceQueryResultListActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.bill.activity.BillContractInvoiceQueryResulltDetailActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.bill.activity.BillContractTrackingQueryResultListActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.bill.activity.BillContractTrackingQueryResultDetailActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <!-- 资讯 -->
        <activity android:name="com.cndsteel.info.activity.InfoQueryResultListActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.info.activity.InfoQueryResultDetailActivity">
           <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <!-- 系统通知 -->
        <activity android:name="com.cndsteel.sysinform.activity.SysInformQueryResultListActivity">
           <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.cndsteel.sysinform.activity.SysInformQueryResultDetailActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
    </application>

</manifest>
