<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cndsteel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10"/>
    
    <!-- 单元测试配置之一 -->
    <instrumentation 
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.cndsteel"/>
    
    <!-- SDCard卡读取权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.cndsteel.framework.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        
         <!-- 单元测试配置之二 -->
        <uses-library android:name="android.test.runner"/>
        
        <!-- loading -->
        <activity android:name="com.cndsteel.main.activities.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- welcome -->
        <activity android:name="com.cndsteel.main.activities.WelcomeActivity"/>
        <!-- login -->
        <activity android:name="com.cndsteel.main.activities.LoginActivity"/>
     	<!-- main -->
        <activity android:name="com.cndsteel.main.activities.MainActivity"/>
        
        <!-- settings -->
        <activity android:name="com.cndsteel.settings.activities.SettingsActivity"/>
        
        <!-- 计划 -->
        <activity android:name="com.cndsteel.plan.activities.PlanQueryActivity" />
        <activity android:name="com.cndsteel.plan.activities.PlanQueryResultListActivity" />
        <activity android:name="com.cndsteel.plan.activities.PlanQueryResultDetailActivity" />
        
        
        <!-- contract(合同) -->
        <activity android:name="com.cndsteel.contract.activities.ContractQueryActivity" />
        <activity android:name="com.cndsteel.contract.activities.ContractQueryResultListActivity" />
        <activity android:name="com.cndsteel.contract.activities.ContractQueryResultDetailActivity" />
        
        
        <!-- 库存 -->
        <activity android:name="com.cndsteel.stock.activity.StockQueryActivity" />
        <activity android:name="com.cndsteel.stock.activity.StockAccordingStockQueryResultListActivity"/>      
        <activity android:name="com.cndsteel.stock.activity.StockAccordingContractQueryResultListActivity"/>
        <activity android:name="com.cndsteel.stock.activity.StockAccordingGoodsQueryResultListActivity" />
 		<activity android:name="com.cndsteel.stock.activity.StockAccordingStockQueryResultDetailActivity" />
 		<activity android:name="com.cndsteel.stock.activity.StockAccordingContractQueryResultDetailActivity"/>
 		<activity android:name="com.cndsteel.stock.activity.StockAccordingGoodsQueryResultDetailActivity"/>
 		<activity android:name="com.cndsteel.stock.activity.StockQueryResultDetailListActivity" />
 		
        <!-- 出仓 -->
        <activity android:name="com.cndsteel.shipment.activity.ShipmentQueryActivity" />
        <activity android:name="com.cndsteel.shipment.activity.ShipmentAsContractNumQueryResultListActivity"/>
        <activity android:name="com.cndsteel.shipment.activity.ShipmentAsContractNumQueryResultDetailActivity"/>
        <activity android:name="com.cndsteel.shipment.activity.ShipmentAsInvoiceNumQueryResultListActivity"/>
        <activity android:name="com.cndsteel.shipment.activity.ShipmentAsInvoiceNumQueryResultDetailActivity"/>
        <activity android:name="com.cndsteel.shipment.activity.ShipmentDetailQueryResultListActivity"/>
        
        <!-- 往来 -->
        <activity android:name="com.cndsteel.payment.activity.PaymentQueryActivity"/>
        <activity android:name="com.cndsteel.payment.activity.PaymentAsInformationQueryResultListActivity"/>
        <activity android:name="com.cndsteel.payment.activity.PaymentAsInformetionQueryResultDetailActivity" />
        <activity android:name="com.cndsteel.payment.activity.PaymentAsContractQueryResultListActivity"/>
        <activity android:name="com.cndsteel.payment.activity.PaymentAsContractQueryResultDetailActivity"/>
        
        
        <!-- 提货意向 -->
        <activity android:name="com.cndsteel.shipmentIntent.activity.ShipmentIntentActivity"/>
        <activity android:name="com.cndsteel.shipmentIntent.activity.ShipmentIntentQueryResultActivity"/>
        <activity android:name="com.cndsteel.shipmentIntent.activity.ShipmentIntentBillDetailActivity"/>
        <activity android:name="com.cndsteel.shipmentIntent.activity.ShipmentIntentCommitActivity"/>
        <activity android:name="com.cndsteel.shipmentIntent.activity.ShipmentConfirmActivity"/>
        
        <!-- 票据 -->
        <activity android:name="com.cndsteel.bill.activity.BillQueryActivity"/>
        <activity android:name="com.cndsteel.bill.activity.BillContractInvoiceQueryResultListActivity"/>
        <activity android:name="com.cndsteel.bill.activity.BillContractInvoiceQueryResulltDetailActivity"/>
        <activity android:name="com.cndsteel.bill.activity.BillContractTrackingQueryResultListActivity"/>
        <activity android:name="com.cndsteel.bill.activity.BillContractTrackingQueryResultDetailActivity"/>
        
        <!-- 资讯 -->
        <activity android:name="com.cndsteel.info.activity.InfoQueryResultListActivity"/>
        <activity android:name="com.cndsteel.info.activity.InfoQueryResultDetailActivity"/>
        
        <!-- 系统通知 -->
        <activity android:name="com.cndsteel.sysinform.activity.SysInformQueryResultListActivity"/>
        <activity android:name="com.cndsteel.sysinform.activity.SysInformQueryResultDetailActivity"/>
        
    </application>

</manifest>
